.cookie-info
  +block({
    size: 'small',
  })
    a.cookie-info__close

    | Мы используем файлы cookie. Они помогают улучшить ваше взаимодействие с сайтом.
    br
    +btn({
      name: 'Понятно',
      size: 'small',
      color: '',
      href: '#',
    }).mt-3
