-
  const defaultOptionsVideo = {
    href: '',
    img: '',
  };

mixin video(options)
  - options = Object.assign({}, defaultOptionsVideo, options);

  a.video(href= options.href)&attributes(attributes)
    img(
      src= emptyImg,
      data-src= options.img,
      alt= "video"
    ).lazyload
