-
  const itemsClinics = [
    {
      img: require('@img/image-4.jpg'),
      name: 'Медицинский центр им. Рабина',
      labelsItems: [
        'Онкология',
        'Кардиология',
        'Ортопедия',
        'Нейрохирургия',
        'Радиотерапия',
        'Генетика',
        'Акушерство и гинекология',
        'Урология',
        'Пластическая хирургия',
        'Хирургия',
      ],
    },
    {
      img: require('@img/image-9.jpg'),
      name: 'Медицинский центр Ихилов (Сураски)',
      labelsItems: [
        'Онкология',
        'Кардиология',
        'Ортопедия',
        'Нейрохирургия',
        'Радиотерапия',
        'Акушерство и гинекология',
        'Гематология',
        'Лечение детей',
      ],
    },
    {
      img: require('@img/image-10.jpg'),
      name: 'Реабилитационная больница Реут',
      labelsItems: [
        'Отделение общей реабилитации',
        'Логопедия',
        'Нутрициология и диетология',
        'Физиотерапия',
        'Детское отделение',
        'Клиника трудотерапии',
        'Респираторная реабилитация',
        'Лечение сексуальных расстройств',
      ],
    },
    {
      img: require('@img/image-11.jpg'),
      name: 'Больница Ассута',
      labelsItems: [
        'Онкология',
        'Хирургия',
        'Центр генетики',
        'Акушерство и гинекология',
        'Урология',
        'Институт сердца',
        'Лучевая диагностика',
        'Ранняя диагностика рака легких',
      ],
    },
    {
      img: require('@img/image-12.jpg'),
      name: 'Клиника Хадасса',
      labelsItems: [
        'Онкология',
        'Кардиология',
        'Хирургия',
        'Гинекология',
        'Институт сердца',
        'Гематология',
        'Урология',
        'Трансплантология',
      ],
    },
    {
      img: require('@img/image-13.jpg'),
      name: 'Детский медицинский центр «Шнайдер»',
      labelsItems: [
        'Онкология',
        'Нейрохирургия',
        'Урология',
        'Кардиология',
        'Ортопедия',
        'Нефрология',
        'Институт сердца',
        'Офтальмология',
      ],
    },
  ];

section.my-5.py-5
  .container
    h2.text-center.mb-4 Организуем лечение в любой клинике Израиля

    h5.text-center.mb-5
      | Сотрудничаем 
      strong с ведущими больницами
      | , которые используют 
      br
      strong передовые методы 
      | лечения и диагностики

    +slider1({
      sliderId: '1',
    }).my-5
      each val in itemsClinics 
        +card({
          img: val.img,
          name: val.name,
        })
          each label in val.labelsItems
            +label({
              text: label,
            }).me-2.mb-3

    include /blocks/feedback-3/template