-
  const itemsSteps = [
    {
      img: require('@img/icon-7.svg'),
      name: 'Заочная диагностика',
      text: 'В течение <strong>3 рабочих дней</strong> получим заключение от нескольких врачей',
    },
    {
      img: require('@img/icon-8.svg'),
      name: 'Подбор клиники',
      text: 'Выберем сильные специализированные клиники. Предоставим статистику выздоровлений и все данные о больнице',
    },
    {
      img: require('@img/icon-9.svg'),
      name: 'Расчет стоимости',
      text: 'Выберем план лечения — <strong>оптимальный по цене и качеству</strong>. Стоимость будет известна еще <strong>до вашего вылета</strong> в Израиль',
    },
    {
      img: require('@img/icon-10.svg'),
      name: 'Подготовка документов, поиск жилья',
      text: 'Подготовим документы для вылета за 1 рабочий день. Проверяем через Министерство обороны, что у вас не будет проблем с въездом в Израиль',
    },
    {
      img: require('@img/icon-14.svg'),
      name: 'Трансфер из аэропорта',
      text: 'Встретим в аэропорту и отвезем в больницу или гостиницу на авто или скорой помощи. В сложных ситуациях подключаем санитарную авиацию',
    },
    {
      img: require('@img/icon-13.svg'),
      name: 'Личный куратор',
      text: 'Русскоговорящий куратор сопровождает на всех этапах пребывания в Израиле. Проконсультирует, переведет, решит вопросы',
    },
    {
      img: require('@img/icon-12.svg'),
      name: 'Трансфер в аэропорт',
      text: 'После лечения отвезем в аэропорт на комфортабельном автомобиле',
    },
    {
      img: require('@img/icon-11.svg'),
      name: 'Поддержка в России',
      text: 'После окончания лечения вы сможете связаться с врачом через нашего агента',
    },
  ];

.overflow-auto.py-3
  .container
    .steps
      each val in itemsSteps 
        .d-flex
          +cardStep(val)
