-
  const itemsWhatWeDo = [
    {
      img: require('@img/image-1.jpg'),
      imgText: 'Ничто не будет отвлекать вас от лечения',
      title: 'Экономим ваши силы и время, избавляем от беспокойства',
      list: [
        'Вы проводите в чужой стране меньше времени и тратите меньше денег',
        'Подготовим документы, предоставим трансфер и найдем жилье <strong>для вас и сопровождающих</strong>',
        'Русскоязычный куратор всегда с вами и оперативно решит любые вопросы',
        'Лечение проходит <strong>в одной клинике</strong>. Вам не придется менять 5-8 больниц',
        'Лечение проходит максимально плотно — вам <strong>не нужно сидеть в общей очереди</strong> к врачу. Меньше времени в стране — меньше расходы',
      ]
    },
    {
      img: require('@img/image-2.jpg'),
      imgText: 'В сложной ситуации вы не останетесь один на один с проблемой',
      title: 'Берем на себя ответственность за высокое качество и результат',
      list: [
        'Заочная диагностика с точностью 99,9%. Историю болезни смотрят врачи из разных клиник',
        'Гарантируем <strong>беспроблемный въезд</strong> в Израиль. Проверяем через Министерство обороны и пограничные посты, что у вас нет ограничений на пересечение границы',
        'Подбираем клиники, которые демонстрируют лучшие результаты в лечении вашего заболевания',
        'Всегда на связи и найдем способ решить любую — даже самую сложную и неординарную задачу',
      ]
    },
    {
      img: require('@img/image-3.jpg'),
      imgText: 'Ваши деньги не уйдут в никуда',
      title: 'Расскажем и распишем, куда пойдет каждый ваш доллар',
      list: [
        'Сотрудничаем преимущественно с государственными клиниками. Их деятельность строго контролируется государством, а лечение — на высшем уровне',
        'Принимаем результаты диагностических исследований из России',
        'Бесплатно организуем срочный выезд. В экстренных ситуациях подготовим все за 12 часов',
        'Предоставим на выбор несколько клиник, которые предлагают качественное лечениепо оптимальной стоимости',
        'Еще на этапе бесплатной консультации подскажем, целесообразно ли делать диагностику',
      ]
    },
  ];

section.my-5.py-5
  .container 
    h2.text-center.mb-4 Сводим бюрократию до минимума и выстраиваем лечение максимально плотно

    h5.text-center.mb-5 Вы проводите в чужой стране меньше времени и тратите меньше денег

    each val in itemsWhatWeDo
      .row.mb-5
        .col-xl-4.d-flex
          +imageBlock({
            img: val.img,
            text: val.imgText,
          }).h6

        .col-xl-8.d-flex
          +block({})
            +iconText({
              img: require('@img/check.svg'),
              text: `<strong>${val.title}`,
            }).h5.mb-4

            +list({
              items: val.list,
            })

    include /blocks/feedback-2/template
