.popup {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(49, 49, 49, 0.15);
  border-radius: 10px;
  max-width: 1280px;

  &__title {
    color: #2C4964;

    &--center {
      text-align: center;
    }
  }

  &--small {
    max-width: 450px;
  }

  &__label-block {
    text-align: right;
  }

  &__label {
    display: inline-block;
    box-shadow: 0px 10px 40px rgb(188 188 188 / 15%);
    border-radius: 10px;
    padding: 5px 15px;
    font-family: "Fira Sans Condensed";
    font-size: 0.95rem;
    line-height: 1.5;
    color: #fff;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    &--color {

      &-yellow {
        background: #EEAB00;
      }

      &-gray {
        background: #5EACCA;
      }

      &-blue {
        background: #0065ED;
      }

      &-red {
        background: #E42313;
      }
  
      &-green {
        background: #94b404;
      }
  
      &-orange {
        background: #da7652;
      }
  
      &-purple {
        background: #6e32ff;
      }
    }
  }
}