-
  const defaultOptionsSlider1 = {
    sliderId: '',
  };

mixin slider1(options)
  - options = Object.assign({}, defaultOptionsSlider1, options);

  if block && options.sliderId
    .owl-carousel.slider-1(id=options.sliderId)&attributes(attributes)
      block
