@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/mulish/mulish-v7-latin_cyrillic-regular.eot);
  src: local(''),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-regular.eot?#iefix) format('embedded-opentype'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-regular.woff2) format('woff2'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-regular.woff) format('woff'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-regular.ttf) format('truetype'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-regular.svg#Mulish) format('svg');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url(@fonts/mulish/mulish-v7-latin_cyrillic-700.eot);
  src: local(''),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-700.eot?#iefix) format('embedded-opentype'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-700.woff2) format('woff2'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-700.woff) format('woff'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-700.ttf) format('truetype'),
       url(@fonts/mulish/mulish-v7-latin_cyrillic-700.svg#Mulish) format('svg');
}
