.slider-2 {
  
  &.owl-carousel {

    .owl-stage,
    .owl-item {
      display: flex;
    }

    .owl-item {
      
      img {
        width: auto;
        max-width: 100%;
        display: inline-block;
      }
    }

    .owl-dots {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      .owl-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid var(--colorBgPrimary);
        transition: background-color .25s ease-in-out;
        margin: 0 7px;

        &.active {
          background-color: var(--colorBgPrimary)
        }
      }

      &.disabled {
        display: none;
      }
    }

    .owl-nav {
      position: absolute;
      width: calc(100% + 110px);
      top: calc(50% - 22px);
      left: -55px;
      display: flex;
      justify-content: space-between;

      .owl-prev,
      .owl-next {
        width: 45px;
        height: 45px;
        border: 2px solid var(--colorBgPrimary);
        border-radius: 50%;
        background-image: url(@img/slider-nav.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 55% 50%;
        text-indent: -999px;
        overflow: hidden;
        transition: background-color .25s ease-in-out,
                    border-color .25s ease-in-out;

        &:hover,
        &:focus {
          background-color: var(--colorBgPrimary);
          background-image: url(@img/slider-nav-white.svg);
        }

        &:active {
          background-color: var(--colorBgPrimaryDark);
          background-image: url(@img/slider-nav-white.svg);
          border-color: 2px solid var(--colorBgPrimaryDark);
        }
      }

      .owl-prev {
        transform: rotate(180deg);
      }

      .owl-next {
        
      }

      &.disabled {
        display: none;
      }
    }
  }
}