.image-block {
  background: var(--colorBgPrimary);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--colorTextSecondary);
  overflow: hidden;

  &__img {
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      min-height: 100%;
    }
  }

  &__text {
    text-align: center;
    padding: 10px 20px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}
