extends layout/index/template

block header
  include /blocks/header/template

block content
  include /blocks/utp/template

  .bg-gray.overflow-hidden
    include /blocks/advantages/template
    include /blocks/direction/template
    include /blocks/feedback-1/template

  .bg-blue-light.overflow-hidden
    include /blocks/what-we-do/template

  .bg-gray.overflow-hidden
    include /blocks/about/template

  .bg-blue-light.overflow-hidden
    include /blocks/clinics/template

  .bg-gray.overflow-hidden
    include /blocks/about-country/template

  .bg-blue-light.overflow-hidden
    include /blocks/tariff/template

  .bg-gray.overflow-hidden
    include /blocks/reviews/template

  .bg-blue-light.overflow-hidden
    include /blocks/compare/template

  .bg-gray.overflow-hidden
    include /blocks/feedback-1/template

  include /blocks/questions/template

block footer
  include /blocks/footer/template

block popup
  include /blocks/cookie-info/template
