extends layout/index/template

block header
  include /blocks/header/template

block content
  include /blocks/utp/template

  .bg-gray.overflow-hidden
    include /blocks/advantages/template
    include /blocks/direction/template
    include /blocks/feedback-1/template

  .bg-blue-light.overflow-hidden
    include /blocks/what-we-do/template

  .bg-gray.overflow-hidden
    include /blocks/about/template

  .bg-blue-light.overflow-hidden
    include /blocks/clinics/template

  .bg-gray.overflow-hidden
    include /blocks/about-country/template

  .bg-blue-light.overflow-hidden
    include /blocks/tariff/template

  .bg-gray.overflow-hidden
    include /blocks/reviews/template

  .bg-blue-light.overflow-hidden
    include /blocks/compare/template

  .bg-gray.overflow-hidden
    include /blocks/feedback-1/template

  div(style="margin-top: 500px;")
  .container
    +btn({
      name: 'Получить список клиник',
      size: '',
      color: '',
      href: '#',
      icon: require('@img/arrow-right.svg'),
    }).m-5

    +btn({
      name: 'Получить список клиник',
      size: '',
      color: '',
      href: '#',
    }).m-5

    +btn({
      name: 'Получить список клиник',
      size: '',
      color: 'transparent',
      href: '#',
    }).m-5

    br

    +btn({
      name: 'Получить список клиник',
      size: 'small',
      color: '',
      href: '#',
      icon: require('@img/arrow-right.svg'),
    }).m-5

    +btn({
      name: 'Получить список клиник',
      size: 'small',
      color: '',
      href: '#',
    }).m-5

    +btn({
      name: 'Получить список клиник',
      size: 'small',
      color: 'transparent',
      href: '#',
    }).m-5

  .container
    .row
      .col-4
        +input({
          label: 'Введите телефон',
          name: 'phone',
          placeholder: '+7 (___) ___-__-__',
          type: 'tel',
          required: false,
        }).text-medium.m-5

      .col-4
        +input({
          label: 'Введите телефон',
          name: 'phone',
          placeholder: '+7 (___) ___-__-__',
          type: 'tel',
          required: true,
        }).text-medium.m-5

  .container(style="background-color: var(--colorBgPrimary)")
    .row
      .col-4
        +input({
          label: 'Введите телефон',
          name: 'phone',
          placeholder: '+7 (___) ___-__-__',
          type: 'tel',
          required: false,
          light: true,
        }).text-medium.m-5

      .col-4
        +input({
          label: 'Введите телефон',
          name: 'phone',
          placeholder: '+7 (___) ___-__-__',
          type: 'tel',
          required: true,
          light: true,
        }).text-medium.m-5

  .container.my-5
    +tel({
      text: '+972 77-552-7732',
      tel: '+972775527732'
    })

  .container.my-5
    +mail({
      text: 'natali.bash@medical-ture.com',
      mail: 'natali.bash@medical-ture.com'
    })

  .container.my-5
    h1.h1 Заголовок h1
    h2.h2 Заголовок h2
    h3.h3 Заголовок h3
    h4.h4 Заголовок h4
    h5.h5 Заголовок h5
    h6.h6 Заголовок h6
    p.text-medium Крупный текст
    p Обычный текст

  .container.my-5
    .row
      .col-4
        +logo({
          img: require('@img/logo.svg'),
          text: 'Medical<br>ture',
          light: false,
          href: '/',
        })
      
      .col-4(style="background-color: var(--colorBgPrimary)")
        +logo({
          img: require('@img/logo-light.svg'),
          text: 'Medical<br>ture',
          light: true,
          href: '/',
        })

  .container
    .row
      .col-4
        +block({}).m-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique ipsa ab minus fuga, sint non praesentium cupiditate dolores beatae ullam corrupti labore sunt. Doloribus eum doloremque quo delectus quia.

      .col-4
        +block({
          size: 'small',
        }).m-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique ipsa ab minus fuga, sint non praesentium cupiditate dolores beatae ullam corrupti labore sunt. Doloribus eum doloremque quo delectus quia.

      .col-4
        +block({
          size: 'big',
        }).m-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique ipsa ab minus fuga, sint non praesentium cupiditate dolores beatae ullam corrupti labore sunt. Doloribus eum doloremque quo delectus quia.

      .col-4
        +block({
          color: 'blue',
        }).m-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique ipsa ab minus fuga, sint non praesentium cupiditate dolores beatae ullam corrupti labore sunt. Doloribus eum doloremque quo delectus quia.

      .col-4
        +block({
          color: 'blue',
          size: 'small',
        }).m-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique ipsa ab minus fuga, sint non praesentium cupiditate dolores beatae ullam corrupti labore sunt. Doloribus eum doloremque quo delectus quia.

      .col-4
        +block({
          color: 'blue',
          size: 'big',
        }).m-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique ipsa ab minus fuga, sint non praesentium cupiditate dolores beatae ullam corrupti labore sunt. Doloribus eum doloremque quo delectus quia.

  .container.my-5
    .row
      .col-2
        +icon({
          img: require('@img/icon-1.svg'),
        })

      .col-2
        +icon({
          img: require('@img/icon-2.svg'),
        })

      .col-2
        +icon({
          img: require('@img/icon-3.svg'),
        })

      .col-2
        +icon({
          img: require('@img/icon-4.svg'),
        })

      .col-2
        +icon({
          img: require('@img/icon-5.svg'),
        })

      .col-2
        +icon({
          img: require('@img/icon-6.svg'),
        })

  .container.my-5
    .row
      .col-4.d-flex
        +imageBlock({
          img: require('@img/image-1.jpg'),
          text: 'Ничто не будет отвлекать вас от лечения',
        }).h6

      .col-4.d-flex
        +imageBlock({
          img: require('@img/image-2.jpg'),
          text: 'В сложной ситуации вы не останетесь один на один с проблемой',
        }).h6

      .col-4.d-flex
        +imageBlock({
          img: require('@img/image-3.jpg'),
          text: 'Ваши деньги не уйдут в никуда',
        }).h6

  .container.my-5
    .row
      .col-3
        +imageBlock({
          img: require('@img/staff-1.jpg'),
        })

  .container.my-5
    .row
      .col-4
        +iconText({
          img: require('@img/check.svg'),
          text: 'Экономим ваши силы и время, избавляем от беспокойства',
        }).h5
    
      .col-8
        +iconText({
          img: require('@img/check.svg'),
          text: 'Расскажем и распишем, куда пойдет каждый ваш доллар',
        }).h5

  .container.my-5
    .row
      .col-4
        +iconText({
          img: require('@img/check.svg'),
          text: 'Онкология',
        }).text-medium.mb-2

        +iconText({
          img: require('@img/check.svg'),
          text: 'Сердечно-сосудистая система',
        }).text-medium.mb-2

        +iconText({
          img: require('@img/check.svg'),
          text: 'Пересадка почек и печени, диализ',
        }).text-medium.mb-2

      .col-4
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'В течение 3-х рабочих дней',
        }).text-medium.mb-2

        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'В течение 1 рабочего дня',
        }).text-medium.mb-2

        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'Бесплатно сделаем все возможное, чтобы организовать лечение за 12 часов',
        }).text-medium.mb-2

      .col-4
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'От нескольких недель до месяцев',
        }).text-medium.mb-2

        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Минимум 1,5 недели',
        }).text-medium.mb-2

        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Не сможете ускорить процесс подготовки документов и организации лечения',
        }).text-medium.mb-2

  .container.my-5
    .row
      .col-8
        +list({
          items: [
            'Заочная диагностика с точностью 99,9%. Историю болезни смотрят врачи из разных клиник',
            'Гарантируем <strong>беспроблемный въезд</strong> в Израиль. Проверяем через Министерство обороны и пограничные посты, что у вас нет ограничений на пересечение границы',
            'Подбираем клиники, которые демонстрируют лучшие результаты в лечении вашего заболевания',
            'Всегда на связи и найдем способ решить любую — даже самую сложную и неординарную задачу',
          ],
        })

  .container.my-5
    +label({
      text: 'Онкология',
    })

    +label({
      text: 'Кардиология',
      color: 'blue',
    })

    +label({
      text: 'Нейрохирургия',
    })

    +label({
      text: 'Радиотерапия',
    })

    +label({
      text: 'Генетика',
    })

    .row.mt-4
      .col-2
        +label({
          text: 'Отделение общей реабилитации',
          color: 'blue',
        })

  .container.my-5
    .row
      .col-4
        +card({
          img: require('@img/image-4.jpg'),
          name: 'Медицинский центр им. Рабина',
        })
          +label({
            text: 'Онкология',
          }).me-2.mb-3

          +label({
            text: 'Кардиология',
            color: 'blue',
          }).mr-2.mb-3

          +label({
            text: 'Нейрохирургия',
          }).mr-2.mb-3

          +label({
            text: 'Радиотерапия',
          }).mr-2.mb-3

          +label({
            text: 'Генетика',
          }).mr-2.mb-3
  
  .container.my-5
    +table({})
      div.table__cell.table__cell--header
      div.table__cell.table__cell--header
        .h4 «Под ключ» с Medical ture
      div.table__cell.table__cell--header
        .h4 Самостоятельно

      div.table__cell
        .h6
          strong Ожидание диагноза от врачей
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'В течение 3-х рабочих дней',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'От нескольких недель до месяцев',
        }).text-medium.mb-2

      div.table__cell
        .h6
          strong Подготовка документов
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'В течение 1 рабочего дня',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Минимум 1,5 недели',
        }).text-medium.mb-2

      div.table__cell
        .h6
          strong В экстренных случаях
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'Бесплатно сделаем все возможное, чтобы организовать лечение за 12 часов',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Не сможете ускорить процесс подготовки документов и организации лечения',
        }).text-medium.mb-2

      div.table__cell
        .h6
          strong Перечение границы
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'Гарантируем въезд в Израиль без проблем. Или вернем деньги',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Проблемы с въездом из-за коронавируса',
        }).text-medium.mb-2

      div.table__cell
        .h6
          strong Языковой барьер
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'Русскоговорящий куратор сопровождает на всех этапах лечения',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Не понимаете врачей, и что написано в медицинских документах',
        }).text-medium.mb-2

      div.table__cell
        .h6
          strong Очереди к врачу в Израиле
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'Вам не нужно сидеть в общей очереди',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Ждете в общей очереди. Период лечения и расходы увеличиваются',
        }).text-medium.mb-2

      div.table__cell
        .h6
          strong Другое
      div.table__cell
        +iconText({
          img: require('@img/success-bg.svg'),
          text: 'Организуем трансфер, найдем жилье',
        }).text-medium
      div.table__cell
        +iconText({
          img: require('@img/error-bg.svg'),
          text: 'Не знаете, куда идти, как вызвать такси',
        }).text-medium.mb-2          

  div
    .container.my-5
      .scs-grid
        .d-flex
          +cardStep({
            img: require('@img/icon-7.svg'),
            name: 'Заочная диагностика',
            text: 'В течение <strong>3 рабочих дней</strong> получим заключение от нескольких врачей',
          })
        
        .d-flex
          +cardStep({
            img: require('@img/icon-8.svg'),
            name: 'Подбор клиники',
            text: 'Выберем сильные специализированные клиники. Предоставим статистику выздоровлений и все данные о больнице',
          })

        .d-flex
          +cardStep({
            img: require('@img/icon-9.svg'),
            name: 'Расчет стоимости',
            text: 'Выберем план лечения — <strong>оптимальный по цене и качеству</strong>. Стоимость будет известна еще <strong>до вашего вылета</strong> в Израиль',
          })

        .d-flex
          +cardStep({
            img: require('@img/icon-10.svg'),
            name: 'Подготовка документов, поиск жилья',
            text: 'Подготовим документы для вылета за 1 рабочий день. Проверяем через Министерство обороны, что у вас не будет проблем с въездом в Израиль',
          })

        .d-flex
          +cardStep({
            img: require('@img/icon-14.svg'),
            name: 'Трансфер из аэропорта',
            text: 'Встретим в аэропорту и отвезем в больницу или гостиницу на авто или скорой помощи. В сложных ситуациях подключаем санитарную авиацию',
          })

        .d-flex
          +cardStep({
            img: require('@img/icon-13.svg'),
            name: 'Личный куратор',
            text: 'Русскоговорящий куратор сопровождает на всех этапах пребывания в Израиле. Проконсультирует, переведет, решит вопросы',
          })

        .d-flex
          +cardStep({
            img: require('@img/icon-12.svg'),
            name: 'Трансфер в аэропорт',
            text: 'После лечения отвезем в аэропорт на комфортабельном автомобиле',
          })

        .d-flex
          +cardStep({
            img: require('@img/icon-11.svg'),
            name: 'Поддержка в России',
            text: 'После окончания лечения вы сможете связаться с врачом через нашего агента',
          })

block popup
