section.my-5.pt-5.pb-4
  .container.mb-4
    .row.align-items-center
      .col-xl-6
        h2 Организуем лечение по любому направлению «под ключ»

      .col-xl-6
        .text-medium Гарантируем теплую встречу и комфортное пребывание в Израиле, чтобы свести ваше беспокойство и нервозность к нулю


  include /blocks/steps/template
