.textarea {
  display: block;

  textarea {
    width: 100%;
    height: 66px;
    border: 1px solid var(--colorBgGrayDark);
    background: var(--colorBgGray);
    padding: 7px 22px;
    border-radius: 12px;
    margin-top: 15px;
    transition: border-color .25s ease-in-out;
    color: var(--colorTextPrimary);
    min-height: 66px;
    overflow: hidden;
  }

  &:hover,
  &:focus {

    textarea {
      border-color: var(--colorTextPrimaryLight);
    }
  }

  &__error-text {
    display: none;
    font-size: .8rem;
    line-height: 1.67;
    margin-top: 8px;
    color: var(--colorRed);
    align-items: center;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(@img/error.svg);
      background-position: center;
      background-repeat:  no-repeat;
      background-size: contain;
      flex-shrink: 0;
      margin-right: 5px;
    }
  }

  &--error {

    textarea {
      border-color: var(--colorRed);
    }

    .textarea__error-text {
      display: flex;
    }
  }

  &--light {
    color: var(--colorTextSecondary);

    &:hover,
    &:focus {

      textarea {
        border-color: var(--colorTextPrimary);
      }
    }

    .textarea__error-text {
      color: inherit;

      &:before {
        background-image: url(@img/error-white.svg);
      }
    }
  }
}